<style type="text/css">
	div {
		width:100%;
		max-width:700px;
		margin:0 auto;
	}
</style>

<div class="tbl">
	<%= image_tag "logo2.png", alt:"Spoon Meets Fork", class: "img-responsive", style: "max-width:600px; max-height:50%" %>

	<%= button_to 'Sign in', signin_path, method: :get, style: "width:100%; min-height:50px; background-color:green; border:1px solid black; color:white; font-size:2em;" %>

	<% #<a href="/users/1/restrictions" style="max-width:800px; min-height:50px; padding: 0 400px; position:relative; top: 20px; background-color:green; border:1px solid black; color:white; font-size:2em;">Sign In</a> %>
</div>
