<h2>User: <%= @user.name if @user.name %></h2>

<table class="table">
	<tr>
		<th>Preferences</th>
		<th>Restrictions</th>
	</tr>
	<tr>
		<td>

			<% @user.preferences.each do |p| %>
				<%= p.name %><br />
			<% end %>

		</td>
		<td>

			<% @user.restrictions.each do |r| %>
				<%= r.name %><br />
			<% end %>

		</td>
	</tr>

<br />
<%= link_to 'Edit Profile', edit_user_path(@user) %>